@font-face {
    font-family: 'DoRegulartGothic16';
    src: url('fonts/DotGothic16-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'DoRegulartGothic16',sans-serif;
}
.homeline{
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
}
.heading {
    font-size: 2rem;
    font-weight: 600;
    margin-right: auto;
    padding-left: 1rem;
    padding-top: 0.4rem;
}
.items {
    font-size: 1.6rem;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-top: 0.6rem;
    padding-right: 1rem;
}
#hr1 {
    height: 0.04rem;
    background-color: black;
    font-weight: 100;
}
#hr2 {
    margin-top: 4rem;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-heading {
    text-align: center;
    margin-top: 4rem;
    font-size: 4em;
}
.main-heading p {
    margin: 0;
    padding: 0;
}
#raw {
    word-spacing: 1rem;
    font-weight: bold;
}
.main-image {
    margin-top: 1.3rem;
    width: 95%;
    max-width: 95%;
    height: auto;
    border-radius: 30px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2.4rem;
    padding: 2.4rem;
    margin-top: 4rem;
}
.grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.grid p {
    margin: 0;
}
.grid div .h {
    font-size: 1.08rem;
}
.grid div .u {
    font-size: 0.8rem;
}
.p{
    padding-top: 6rem;
    padding-left: 15rem;
    padding-right: 15rem;
    font-weight: 600px;
    text-align: center;
    font-size: 2rem;
}
.p1{
    padding-top: 1rem;
    padding-left: 3rem;
    font-weight: bold;
    margin-top: 6rem;
    font-size: 2rem;
}
.h1{
    text-align: center;
    padding-top: 1rem;
    font-size: 1.3rem;
    justify-content: center;
}
.c1{
    font-weight: 1;
    text-align: center;
    font-size: 1rem;
    padding-top: 1rem;
    font-family: archivo,sans-serif;
}
.b1{
    background-color: blue;
    font-size: 0.75rem;
    color: white;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    padding: 0.6rem 0.75rem;
    border: none;
}
.hr2{
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.hrr1{
    font-weight: bold;
    padding-top: 5rem;
    text-align: center;
}
.contact-me {
    font-weight: 700;
    font-size: 4rem;
}
.contact-text{
    font-family: archivo,sans-serif;
}
.contact-form{
    font-size: 2rem;
    text-align: center;
}
.contact-form1{
    padding-bottom: 2rem;
    font-family: Archivo,sans-serif;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.submit{
    margin-top: 2rem;
    font-size: 1rem;
    width: 400px;
    height: 36px;
    padding: 8px 16px;
    background-color: blue;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;justify-content: center;
    cursor: pointer;
}
.down{
    font-family: Archivo,sans-serif;
    color: blue;
    padding: 2rem;
    cursor: pointer;
}
.followme{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.rating {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.rating1{
    border:1px solid black ;
    height: 64px;
    width: 56px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.u{
    font-family: Archivo,sans-serif;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 1rem 1rem;
}
@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, auto);
    }

    .p {
        padding: 3rem 5rem;
        font-size: 1.5rem;
    }

    .p1 {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .main-heading {
        font-size: 3rem;
    }

    .p {
        padding: 2rem;
        font-size: 1.4rem;
    }

    .items {
        font-size: 1.4rem;
        margin: 0.5rem 0;
    }
}

@media (max-width: 552px) {
    .main-heading {
        font-size: 2.5rem;
    }

    .heading {
        font-size: 1.5rem;
        margin-top: 0.35rem;
    }

    .contact-me {
        font-size: 2rem;
    }
    .homeline {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .homeline {
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
    }

    .main-heading {
        font-size: 2rem;
    }

    .main-image {
        width: 100%;

    }

    .items, .contact-me, .contact-text {
        font-size: 1rem;
        text-align: center;
    }

    .submit {
        width: 100%;
        height: auto;
        font-size: 1rem;
    }
}

@media (max-width: 380px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .homeline {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .main-heading {
        font-size: 1.2rem;
    }

    .main-image {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }

    .items, .contact-me, .contact-text {
        font-size: 1rem;
        text-align: center;
    }

    .submit {
        width: 100%;
        height: auto;
        font-size: 1rem;
    }
}